@import "./component";

.ctn {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 800px;
  min-width: 400px;
  width: 100%;
  height: 800px;
  border-radius: $radius-xl;
  background-color: $color-background;
  overflow: hidden;
}

@media screen and (max-width: $screenMaxW) {
  .ctn {
    height: 100%;
    border-radius: 0;
  }
}

.ctn_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 20px 0;
  margin-bottom: 20px;

  .subtitle {
    @include text-title;
    @include text-sm;
    position: absolute;
    z-index: 1;
    top: 70px;
    text-align: center;
    margin-bottom: 16px;
    cursor: pointer;
  }

  .title {
    @include text-title;
    @include text-xl;
    text-align: center;
    /* 단어 기준으로 줄바꿈 */
    word-break: keep-all;
    margin-bottom: 24px;
  }

  button {
    @include button_yellow;
  }
}

.ctn_body {
  height: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.guide {
  position: relative;
  width: max-content;
  background-color: $color-green-02;
  padding: 20px;
  border-radius: $radius-md;

  &::before {
    content: "";
    position: absolute;
    left: 20px;
    bottom: -20px;
    width: 4px;
    height: 24px;
    border-radius: 2px;
    background-color: $color-green-02;
    translate: (-50%);
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -28px;
    left: 20px;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: $color-green-02;
    translate: (-50%);
  }
}
