.container_members {
  height: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
}

.input_name_form {
  padding: 10px;
  background-color: var(--color-white);
}

.input_name_warp {
  display: flex;
  height: 48px;
  padding: 4px;
  border-radius: 24px;
  background-color: var(--color-gray);
}

.container_items {
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 10px 20px;
}

.name_item {
  position: relative;
  display: flex;
  align-items: center;
  height: 56px;
  padding: 0 24px;
  margin: 0 10px 10px 0;
  border-radius: 28px;
  font-size: 24px;
  color: var(--color-white);
  background-color: var(--color-green-02);
  cursor: pointer;
}

.name_item:hover {
  background-color: var(--color-green-03);
}

.button_delete {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 28px;
  font-size: 20px;
  border: 2px solid var(--color-warning);
  color: var(--color-warning);
  background-color: var(--color-yellow);
}

.input_name {
  flex: 1;
  background-color: unset;
  padding: 0 20px;

  border-radius: 24px;
}

.button_add_name {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  border-radius: 20px;
  background-color: var(--color-yellow);
}

.alert {
  position: absolute;
  bottom: 78px;
  left: 50%;
  transform: translate(-50%);
  border-radius: 12px;
  background-color: var(--color-warning);
  color: var(--color-white);
  padding: 10px 16px;
}
