$color-background: #e8f2ef;
$color-yellow: #fed403;
$color-white: #ffffff;
$color-gray: #f4f4f4;
$color-green-01: #e8f2ef;
$color-green-02: #6bc79e;
$color-green-03: #09af63;
$color-green-04: #028d4a;
$color-warning: #e50000;
$color-selected: #e8f2ef;

$text-secondary: #ababab;
