@import "./color";
@import "./size";
@import "./font";

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
  background-color: $color-green-02;
}

body,
input,
button {
  @include text-body;
}

button {
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 700px;
  padding: 40px;
}

@media screen and (max-width: $screenMaxW) {
  main {
    padding: 0;
  }
}

/* input number 화살표 없애기 */
input {
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &:focus {
    outline: none;
  }
}
