* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-background: #e8f2ef;
  --color-yellow: #fed403;
  --color-white: #ffffff;
  --color-gray: #f4f4f4;
  --color-green-01: #e8f2ef;
  --color-green-02: #6bc79e;
  --color-green-03: #09af63;
  --color-green-04: #028d4a;
  --color-warning: #e50000;
  --color-text-secondary: #ababab;
  --color-hover: #e8f2ef;
  --color-selected: #e8f2ef;
}

html,
body,
#app {
  height: 100%;
  background-color: var(--color-green-02);
}

@font-face {
  font-family: "cafe24_body";
  src: url("./public/assets/Cafe24OhsquareAir-v2.0.otf");
}

@font-face {
  font-family: "cafe24_title";
  src: url("./public/assets/Cafe24SsurroundAir-v1.1.otf");
}

body,
input,
button {
  font-family: "cafe24_body", Gordita, Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}

button {
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  height: 100%;
  min-height: 700px;
}

/* input number 화살표 없애기 */
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus {
  outline: none;
}
